table {
    border-style: solid;
    width: 80%;
    border-collapse: collapse; 
}

th {
    border-bottom: 2px solid;
}

td {
    border-bottom: 2px dashed;
}

form {
    margin-top: 2%;
}

body {
    background-image: url(resources/background.jpg);
    background-size: cover;
}

input:not(.done):not(.notDone) {
    background-color: bisque;
    color: brown;
}

.done, .notDone {
    margin: auto;
    width: 100%;
    height: 100%;
}

.done {
    background-image: url(resources/checkmark.svg);
    background-size: cover;
}

.notDone {
    background-image: url(resources/cross.svg);
    background-size: cover;
}

.delete {
    float: right;
}

.center {
    margin: auto;
    width: 50%;
}

.task {
    width: 70%;
}